{{define "header"}}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SubMesh</title>
  <!-- simple.css, MIT License: https://github.com/kevquirk/simple.css -->
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <!-- minidenticons, MIT License: https://github.com/laurentpayot/minidenticons -->
  <script type="module" src="/static/js/minidenticons.js"></script>
  <!-- Leafelet, BSD 2 License: https://github.com/Leaflet/Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <!-- Chart.js, MIT License: https://github.com/chartjs/Chart.js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="/static/js/simpleheat.js"></script>
  <link rel="stylesheet" href="/static/css/submesh.css"></style>
</head>
<body>
  <header>
<h1>SubMesh</h1>
<div>
    <a class="button" href="/">Nodes</a>
    <a class="button" href="/chats">Chats</a>
    <a class="button" href="/map">Map</a>
    <a class="button" href="/neighbors">NeighborInfo</a>
    <a class="button" href="/telemetry">Telemetry</a>
    <a class="button" href="/traceroutes">Traceroutes</a>
    <a class="button" href="/nondecryptable">Non-Decryptable</a>
    <a class="button" href="/all">All Messages</a>
    </div>
  </header>
<main>
{{ end }}