
{{template "header"}}
 <div id="map" style="height: 680px"></div>


<script type="text/javascript">
// Create the map
var map = L.map('map');

// Set up the OSM layer
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var markers = [];
var heatMapData = {{.Heatmap}};


var heatLayer = [];
for (var i = 0; i < heatMapData.length; i++){
    const ele = heatMapData[i];
    var marker = L.marker({lat: ele["Lat"],lon: ele["Long"]},{}).addTo(map);
    markers.push(marker);

    var circle = L.circle([ele["Lat"],ele["Long"]], {
    color: 'gray',
    opacity: 0.1,
    fillColor: 'gray',
    fillOpacity: 0,
    stroke: true,
    radius: 100*ele["PrecisionBits"]
    }).addTo(map);

    heatLayer.push([ele["Lat"],ele["Long"],ele["Hits"]]);
    marker.bindPopup(`<b><a href='/user?id=${ele["Id"]}'>
        <minidenticon-svg username='${ele["Id"]}'></minidenticon-svg>
        <br>${ele["ShortAddr"]}</a>
        <br>${ele["LongName"]}
        <br>Last Heard: ${ele["LastHeard"]} ago</b>
        <br>Altitude: ${ele["LastAltitude"]}m
        <br>Messages From: ${ele["Hits"]}
        `).openPopup();
}

var heat = L.heatLayer(heatLayer, {radius: 50}).addTo(map);

var group = new L.featureGroup(markers);
map.fitBounds(group.getBounds());

</script>


{{template "footer"}}

