{{template "header"}}
<div id="map" style="height: 300px"></div>


<script type="text/javascript">
// Create the map
var map = L.map('map');

// Set up the OSM layer
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var markers = [];
var data = {{.Heatmap}};

var heatLayer = [];
for (var i = 0; i < data.length; i++){
    const ele = data[i];
    var marker = L.marker([ele["Lat"],ele["Long"]]).addTo(map);
    markers.push(marker);

    heatLayer.push([ele["Lat"],ele["Long"],ele["Hits"]]);
    marker.bindPopup(`<b><a href='/user?id=${ele["Id"]}'>
        <minidenticon-svg username='${ele["Id"]}'></minidenticon-svg>
        <br>${ele["ShortAddr"]}</a>
        <br>${ele["LongName"]}
        <br>Last Heard: ${ele["LastHeard"]} ago</b>
        <br>Altitude: ${ele["LastAltitude"]}m
        <br>Route Hits: ${ele["Hits"]}
        `).openPopup();
}

var heat = L.heatLayer(heatLayer, {radius: 70}).addTo(map);

var group = new L.featureGroup(markers);
map.fitBounds(group.getBounds());

</script>



<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Time</th>
    <th>Route To</th>
    <th>Route From</th>
</tr>
{{range .Traceroutes}}
  <tr>
    <td>{{ template "user_link" (arr .From)}}</td>
    <td>{{ template "user_link" (arr .To)}}</td>
    <td>{{.RxTime | timeAgo }} ago</td>

    <td>
        <table>
            <tr>
                <th>Num</th>
                <th>From</th>
                <th>Snr Towards</th>
            </tr>
                {{ $routeTo := .Underlying | tracerouteTo }}

                {{range $routeTo}}
                <tr>
                    <td>{{ .Num }}</td>
                    <td>{{ template "user_link" (arr .First)}}</td>
                    <td>{{ .Second }}</td>
                {{end}}
                </tr>
        </table>
    </td>

    <td>
        <table>
            <tr>
                <th>Num</th>
                <th>From</th>
                <th>Snr From</th>
            </tr>
                {{ $routeFrom := .Underlying | tracerouteFrom }}

                {{range $routeFrom}}
                <tr>
                    <td>{{ .Num }}</td>
                    <td>{{ template "user_link" (arr .First)}}</td>
                    <td>{{ .Second }}</td>
                {{end}}
                </tr>
        </table>
    </td>
  </tr>
{{end}}
</table>
{{template "footer"}}
